<!DOCTYPE html>
<html ng-app="lobbyApp">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <title>Home page | Order Online Fast Food & Pizza</title>
    <!-- Fonts Here-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    <!-- Fonts here-->
    <!-- Style Here -->
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/my-account.css">
    <link rel="stylesheet" href="~/css/nouislider.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-controller="lobbyController" ng-init="init()" ng-cloak>
    <div class="wrapper">
        <!-- Header Start Here -->
        <header id="Header">
            <div class="main_header inner_page">
                <div class="top_nav" id="navbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="logo">
                                    <a asp-controller="Home" asp-action="Index" title="Crave Ordering"><img src="../images/logo.png" alt="Crave Ordering"></a>
                                </div>
                                <div class="nav_manu">
                                    <div class="Menu_list">
                                        <ul class="menu">
                                            <li><a class="trans hvr-underline-from-left" asp-controller="Home" asp-action="Index">Home</a></li>
                                            <!-- <li><a href="about.html" class="trans">About</a></li>
                                            <li><a href="login.html" class="trans">Login</a></li>
                                            <li><a href="login.html" class="trans">Register</a></li> -->
                                        </ul>
                                    </div>
                                    <div class="Cart">
                                        <a title="Cart" asp-controller="Home" asp-action="Cart">
                                            <span class="Cart_count">Cart</span>
                                            <!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
                                            <img class="cart_img" src="../images/cart_1.png" alt="cart_1">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="burger" class="open-main-nav">
                    <span class="burger"></span>
                </button>
                <div class="H_banner">
                    <div class="main_pitch">
                        <h1 class="page_title">Fast and efficient, online ordering you must try.</h1>
                    </div>
                </div>
            </div>
            <div class="device">
                <nav class="main-nav" id="main-nav">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index" title="Crave Ordering"><img src="../images/logoBlack.png" alt="Crave Ordering"></a>
                    </div>
                    <ul>
                        <li><a class="trans hvr-underline-from-left" asp-controller="Home" asp-action="Index">Home</a></li>
                        <!-- <li><a href="about.html" class="trans">About</a></li>
                        <li><a href="login.html" class="trans">Login</a></li>
                        <li><a href="login.html" class="trans">Register</a></li> -->
                    </ul>
                </nav>
            </div>
        </header>
        <section>
            <div class="Our_menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_Ourmenu">
                                <h2 class="title">Categories</h2>
                                <div class="content_menu bottom_pitch">
                                    <div class="main_bpitch">
                                        <ul class="nav nav-tabs d-flex justify-content-between" role="tablist">
                                            <li class="nav-item" ng-click="filterProducts()">
                                                <a class="nav-link trans" data-toggle="tab" href="#pizza" title="Pizza">
                                                    <span class="icon">All</span>
                                                </a>
                                            </li>
                                            <li class="nav-item" ng-repeat="category in categories" ng-click="filterProducts(category.id)">
                                                <a class="nav-link trans" data-toggle="tab" href="#pizza" title="Pizza">
                                                    <span class="icon">{{category.name}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-content">

                                    <div id="pizza" class=" tab-pane active">
                                        <div class="content_row">

                                            <div class="right_cntbar col-lg-3">
                                                <div class="your_order">
                                                    <div class="Order_title">
                                                        <span class="O_lefttitle">Filter </span>
                                                        <span class="O_cart">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                                                                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z" />
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="Order_number">
                                                        <div class="range-container">
                                                            <label for="range">Spiciness: {{spicinessCount == -1 ? 'Not Chosen' : spicinessCount}}</label>
                                                            <input type="range" name="range" id="range" min="-1" max="4" value="-1"  ng-model="spicinessCount"/>
                                                        </div>

                                                        <div class="filters__group">
                                                            <div class="filters__checkbox">
                                                                <input class="styled-checkbox" id="nuts-checkbox" type="checkbox" ng-model="isNutsOn">
                                                                <label for="nuts-checkbox">
                                                                    <span class="filters__label">No Nuts</span>
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="filters__group">
                                                            <div class="filters__checkbox">
                                                                <input class="styled-checkbox" id="vegeterian-checkbox" type="checkbox" ng-model="isVegeterianOn">
                                                                <label for="vegeterian-checkbox">
                                                                    <span class="filters__label">Vegeterian only</span>
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="totle_Oamount" ng-click="resetFilter()" style="cursor: pointer">
                                                        <a class="trans red_btn squre-btn text-white" title="">Reset</a>
                                                    </div>
                                                    <div class="totle_Oamount" ng-click="applyFilter()" style="cursor: pointer">
                                                        <a class="trans red_btn squre-btn hvr-ripple-out text-white" title="">Apply Filter</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="left_cntbar">
                                                <div class="pizza_items">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="product in products">
                                                            <div class="P_itmesbox">
                                                                <div class="PT_image"><img src="{{product.image}}" class="absoImg" alt=""></div>
                                                                <div class="PT_dscr">
                                                                    <h3 class="PT_title">{{product.name}}</h3>
                                                                    <p class="PT_dtls">
                                                                        Spiciness: {{product.spiciness}}
                                                                    </p>
                                                                    <div class="PT_optn">
                                                                        <ul class="PT-radio d-flex justify-content-between">
                                                                            <li>
                                                                                <input type="radio" id="radio-1" ng-checked="product.nuts" />
                                                                                <label for="radio-1">Nuts</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" id="radio-2" ng-checked="product.vegeterian" />
                                                                                <label for="radio-2">Vegeterian</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="price_block">
                                                                        <div class="price">$ {{product.price}}</div>
                                                                        <a style="cursor: pointer" class="card_btn" ng-click="addToBasket(product,1)">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="copyright">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>© <a class="trans" title="Step Ordering">Step Ordering</a> <script type="text/javascript">document.write(new Date().getFullYear());</script>, All rights reserved </p>
                </div>
            </div>
        </footer>
        <!-- Footer Section here -->
    </div>
    <!-- JS Here -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/template/bootstrap.min.js"></script>
    <script src="~/js/template/custome.js"></script>
    <script src="~/js/template/slick.js"></script>
    <script src="~/js/angular.min.js"> </script>
    <script src="~/lib/nouislider.min.js"> </script>
    <script src="~/js/template/jquery.validate.min.js"></script>
    <script src="~/js/file.js"></script>
    <!-- JS Here -->


</body>

</html>